---
http_interactions:
- request:
    method: post
    uri: https://panel.sendcloud.nl/api/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcels":[{"name":"Rob van den Heuvel","address":"Torenallee","house_number":25,"city":"Eindhoven","postal_code":"5617BC","country":"NL","shipment":{"id":117}},{"name":"Rob
        van den Heuvel","address":"Torenallee","house_number":25,"city":"Eindhoven","postal_code":"5617BC","country":"NL","shipment":{"id":117}}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YmM1ZWIyZDA1NDVkNGM2ZGExZjE0MDZmZmZmOTM0M2M6NzlkZjAxNTM1MjhiNGJlNGFmNjFhOTBhOTU4M2ExMmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Sendcloud-Client-Latest-Version-Linux:
      - 1.0.2
      X-Sendcloud-Client-Latest-Version-Windows:
      - 1.0.4
      X-Sendcloud-Client-Latest-Version-Macos:
      - 1.0.5
      X-Sendcloud-Panel-Id:
      - 37780515c86054153166efe0a5c7ebfd8778b458
      Allow:
      - GET, POST, PUT, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"parcels":[{"id":57890817,"address":"Torenallee 25","address_2":"","address_divided":{"street":"Torenallee","house_number":"25"},"city":"Eindhoven","company_name":"","country":{"iso_2":"NL","iso_3":"NLD","name":"Netherlands"},"data":{},"date_created":"07-09-2020
        14:04:29","email":"","name":"Rob van den Heuvel","postal_code":"5617BC","reference":"0","shipment":{"id":117,"name":"DHLForYou
        Drop Off"},"status":{"id":999,"message":"No label"},"to_service_point":null,"telephone":"","tracking_number":"","weight":"1.000","label":{},"customs_declaration":{},"order_number":"","insured_value":0,"total_insured_value":0,"to_state":null,"customs_invoice_nr":"","customs_shipment_type":null,"parcel_items":[],"documents":[],"type":null,"shipment_uuid":"18e0ba57-8060-4427-85df-2e60c3416f94","shipping_method":117,"external_order_id":"57890817","external_shipment_id":"","external_reference":null,"is_return":false,"note":"","to_post_number":"","total_order_value":null,"total_order_value_currency":null,"carrier":{"code":"dhl"}},{"id":57890818,"address":"Torenallee
        25","address_2":"","address_divided":{"street":"Torenallee","house_number":"25"},"city":"Eindhoven","company_name":"","country":{"iso_2":"NL","iso_3":"NLD","name":"Netherlands"},"data":{},"date_created":"07-09-2020
        14:04:29","email":"","name":"Rob van den Heuvel","postal_code":"5617BC","reference":"0","shipment":{"id":117,"name":"DHLForYou
        Drop Off"},"status":{"id":999,"message":"No label"},"to_service_point":null,"telephone":"","tracking_number":"","weight":"1.000","label":{},"customs_declaration":{},"order_number":"","insured_value":0,"total_insured_value":0,"to_state":null,"customs_invoice_nr":"","customs_shipment_type":null,"parcel_items":[],"documents":[],"type":null,"shipment_uuid":"0e19d7e5-fb21-4fc8-bcb5-d0873ae25f75","shipping_method":117,"external_order_id":"57890818","external_shipment_id":"","external_reference":null,"is_return":false,"note":"","to_post_number":"","total_order_value":null,"total_order_value_currency":null,"carrier":{"code":"dhl"}}]}'
  recorded_at: Mon, 07 Sep 2020 14:04:29 GMT
recorded_with: VCR 6.0.0
